*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/variables.scss";
@import "components/home.scss";
@import "components/login.scss";
@import "components/mediaqueries.scss";

body{
    background-color: $color-fondo;
    background-image: url('../img/bg-principal.webp');
    background-repeat: repeat;
    object-fit: cover;
    font-family: 'Montserrat', sans-serif;
}