body{
    color: #0f0f0f;
    height: auto;
    font-weight: 600;
    min-height: 100vh;
    height: 100%;
    header{
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        .saldo, .ahorros{
            text-align: center;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-principal;
            color: white;
            border-radius: 5px;
            margin: 10px;
            p{
                span{
                    font-weight: 600;
                }
                &:nth-child(2){
                    margin-left: 10px;
                }
            }
        }
        .userName{
            background-color: $color-principal;
            color: white;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }
    }
    .cotizadorDolar{
        display: flex;
        align-items: center;
        padding: 0 0 0 90px;
        cursor: pointer;
        p{
            &::after{
                content: '¡Nuevo!';
                font-size: 0.75em;
                color: rgb(240, 59, 59);
                padding: 0 0 0 5px;
            }
        }
        img{
            width: 16px;
            margin-right: 5px;
        }
    }

    .cotizadorVentana{
        position: fixed;
        z-index: 3;
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        .ventana{
            width: 520px;
            background-color: $color-fondo;
            text-align: center;
            border-radius: 5px;
            padding: 20px 40px;
            img{
                filter: invert(33%) sepia(55%) saturate(1686%) hue-rotate(172deg) brightness(93%) contrast(102%);
                width: 30px;
                position: relative;
                top: -5px;
                right: -53%;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover{
                    filter: invert(48%) sepia(37%) saturate(6220%) hue-rotate(166deg) brightness(93%) contrast(101%);
                }
            }
            .tituloVentana{
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
                margin: 0 0 5px 0;
                padding: 0 0 5px 0;
            }
            .preciosDolarOficial, .preciosDolarBlue{
                display: flex;
                justify-content: center;
                .compra, .venta{
                    margin: 15px;
                    .price{
                        display: flex;
                        p{
                            &:nth-child(1){
                                margin-right: 4px;
                            }
                        }
                    }                    
                }
            }
            .conversorDivisas{
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
                margin: 0 0 5px 0;
                padding: 0 0 5px 0;
            }
            .botonesCambiar{
                display: flex;
                justify-content: center;
                margin: 0 0 5px 0;
                button{
                    font-family: 'Montserrat', sans-serif;
                    background-color: $color-principal;
                    color: white;
                    padding: 10px 30px;
                    margin: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: $color-secundario;
                    }
                }
            }
            .cambio{
                .seleccion{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0 10px 0;
                    select{
                        margin: 0 4px 0 4px;
                        font-family: $fuente-principal;
                    }
                }
                .conversion{
                    p{
                        margin: 0 0 4px 0;
                    }
                    input{
                        height: 30px;
                        padding: 4px;
                        font-family: $fuente-principal;
                        margin: 0 0 10px 0; 
                    }
                }
            }
            #cambio2{
                display: none;
            }
        }
    }
    .navBar{
        background-color: $color-principal;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80px;
        max-height: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        .option{
            width: 100%;
            font-size: 0.85em;
            padding: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            img{
                width: 35px;
                height: 35px;
                margin-bottom: 8px;
                filter: invert(92%) sepia(6%) saturate(100%) hue-rotate(168deg) brightness(104%) contrast(90%);
                transition: all 0.5s ease;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
    .agregarSaldo{
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mensajeError{
                color: rgb(218, 50, 50); 
                display: none; 
                margin: 0 0 15px 0;
            }

            select{
                margin: 8px 0;
                width: 200px;
                height: 40px;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid rgb(165, 163, 163);
                font-family: 'Montserrat', sans-serif;
                padding: 10px;
                &:focus{
                    outline: none;
                }
                option{
                    background-color: $color-fondo;
                }
            }
            input{
                margin: 8px 0;
                width: 200px;
                height: 30px;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid rgb(165, 163, 163);
                font-family: 'Montserrat', sans-serif;
                padding: 10px;
                &:focus{
                    outline: none;
                }
            }
            .inputBtn{
                color: black;
                background-color: rgb(114, 204, 95);
                cursor: pointer;
                height: 45px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                transition: all 0.2s ease;
                &:hover{
                    color: white;
                    background-color: rgb(101, 180, 83);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }
            }
        }
        form:nth-child(2){
            display: none;
        }
    }
    #div2, #div3, #div4{
        padding-left: 80px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        form{
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mensajeError{
                color: rgb(218, 50, 50); 
                display: none; 
                margin: 0 0 15px 0;
            }
            select{
                margin: 8px 0;
                width: 200px;
                height: 40px;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid rgb(165, 163, 163);
                font-family: 'Montserrat', sans-serif;
                padding: 10px;
                &:focus{
                    outline: none;
                }
                option{
                    background-color: $color-fondo;
                }
            }
            input{
                margin: 8px 0;
                width: 200px;
                height: 30px;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid rgb(165, 163, 163);
                font-family: 'Montserrat', sans-serif;
                padding: 10px;
                &:focus{
                    outline: none;
                }
            }
            .inputBtn{
                color: black;
                background-color: rgb(114, 204, 95);
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                height: 45px;
                font-weight: 600;
                transition: all 0.2s ease;
                &:hover{
                    color: white;
                    background-color: rgb(101, 180, 83);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }
            }
        }
    }
    #div5{
        padding-left: 80px;
    }
    .tablaMovimientos{
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        text-align: center;
        .chartsContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .chartContainer{
                width: 400px;
            }
        }
        table{
            margin: 15px;
            border-spacing: 5px;
            tbody{
                background-color: $color-principal;
                color: white;
                tr{
                    th:nth-child(1){
                        border-top-left-radius: 15px;
                    }
                    th:nth-child(5){
                        border-top-right-radius: 15px;
                    }
                }
                &:nth-child(even){
                    color: white;
                    background-color: $color-secundario;
                }
                &:last-child{
                    tr{
                        td:nth-child(1){
                            border-bottom-left-radius: 15px;
                        }
                        td:nth-child(5){
                            border-bottom-right-radius: 15px;
                        }
                    }
                }
            }
        }
        th, td{
            padding: 5px 15px;
        }
    }
    #ceroMovimientos{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100%;
        padding-left: 80px;
        font-size: 1.25em;
        color: rgb(211, 69, 69);
        text-align: center;
        p{
            margin: 0 15px;
        }
    }

    .salirAdvertencia{
        color: black;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 2;
        .cuadro{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $color-fondo;
            width: 40%;
            height: auto;
            padding: 30px;
            text-align: center;
            border-radius: 5px;
            img{
                filter: invert(33%) sepia(55%) saturate(1686%) hue-rotate(172deg) brightness(93%) contrast(102%);
                width: 80px;
                margin-bottom: 10px;
            }
            p{
                font-size: 1.25em;
                margin-bottom: 10px;
            }
            .botonera{
                display: flex;
                justify-content: space-around;
                button{
                    width: 90px;
                    font-family: 'Montserrat', sans-serif;
                    background-color: $color-principal;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 10px 20px;
                    border: none;
                    margin: 0 20px;
                    color: white;
                    &:hover{
                        background-color: $color-secundario;
                        color: white;
                    }
                }
            }
        }
    }
}

#chart, #chart1 {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 35px auto;
}